* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none; 
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/projeto04/img/imgfundo.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    margin: 10px 30px;
}
.logo{
    width: 80px;
    height: 80px;
}

nav ul {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.btn {
    margin-top: 50px;
    list-style: none;
    height: 40px;  
}

.btn-mais {
    margin-top: 50px;
    list-style: none;
    height: 40px;
    list-style: none;  
}


.fa-home {
    padding-right: 10px;
}

.btn-inicio:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}
ul li a:hover{
    color: #000;
    background-color: #fff;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
}

.opcoes{
	display: none;
    top:6%;
    position: relative;
}

.opcoes ul{
	position: absolute;
}

ul li:hover .opcoes {
	display: block;
	position: relative;
}


ul li:hover .opcoes ul {
	display: block;
	margin:6px;
}
ul li:hover .opcoes ul li {
	width: 75px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
    padding-top: 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

main h1 {
    color: #fff;
    font-size: 80px;
}

main ul {
    display: flex;
    gap: 5px;
    text-transform: uppercase;
    margin-top: 20px;
}

main ul li a {
    border: 1px solid #fff;
}